**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [5]:
import math
import random
import os
import sys


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [3]:
square = [x**2 for x in range (20)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [6]:
sqrt = [math.sqrt(x) for x in range (100)]
print(sqrt)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398, 6.324555320336759, 6.4031242374328485, 6.48074069840786, 6.557438524302, 6.6332495807108, 6.708203932499369, 6.782329983125268, 6.855654600401044, 6.928203230275509, 7.0, 7.0710678118654755, 7.14142842854285, 7.211102550927978, 7.280109889280518, 7.3484692283495345, 7.416198487095663, 7.483314773547883, 7.54983443527075, 7.615773105863909, 7.681145747868608, 7.745966692414834, 7.810249675906654, 7.874007874011811, 7.937253933193772, 8.0, 8.06225774829855, 8.12403840463596, 8.18535277187245, 8.246211251235321, 8.306623862918075, 8.366600265340756, 8.426149773176359, 8.48528137423857, 8.54400374531753, 8.602325267042627, 8.660254037844387, 8.717797887081348, 8.774964387392123, 8.831760866327848, 8.888194417315589, 8.94427190999916, 9.0, 9.055385138137417, 9.1104335791443, 9.16515138991168, 9.219544457292887, 9.273618495495704, 9.327379053088816, 9.38083151964686, 9.433981132056603, 9.486832980505138, 9.539392014169456, 9.591663046625438, 9.643650760992955, 9.695359714832659, 9.746794344808963, 9.797958971132712, 9.848857801796104, 9.899494936611665, 9.9498743710662]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [8]:
my_list = [-x for x in reversed(range(11))]
my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [9]:
odds = [x for x in range(1,101) if x % 2 !=0]
odds

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [10]:
divisible_by_seven = [x for x in range(1,1001) if x % 7 == 0]
divisible_by_seven

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [11]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [16]:
vowels = 'aeiou'
no_vowels = [x for x in teststring if x not in vowels]
new_string = "".join(no_vowels)
new_string

'Fnd ll f th wrds n  strng tht r mnsyllbc'

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [19]:
stringtest = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters = [x for x in stringtest if x.isupper() and x.isalpha()]
capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [21]:
vowels = 'aeiou'
stringtest2 = 'The quick brown fox jumped over the lazy dog'
consonants = [x for x in stringtest2 if x not in vowels and x.isalpha]
consonants

['T',
 'h',
 ' ',
 'q',
 'c',
 'k',
 ' ',
 'b',
 'r',
 'w',
 'n',
 ' ',
 'f',
 'x',
 ' ',
 'j',
 'm',
 'p',
 'd',
 ' ',
 'v',
 'r',
 ' ',
 't',
 'h',
 ' ',
 'l',
 'z',
 'y',
 ' ',
 'd',
 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [24]:
files = os.listdir('/mnt/c/Users/Usuario/lb_ironhack')
files

['.git',
 'lab-bash',
 'lab-control-flow',
 'lab-errhand_listcomp',
 'lab-error-handling',
 'lab-functions',
 'lab-tuple-set-dict',
 'lab-vikings',
 'lorem_copy',
 'lorem_copy1',
 'sed.txt']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [30]:
random_lists = [[random.randint(0,100) for x in range(101)] for x in range(4)]
random_lists

[[29,
  62,
  43,
  61,
  17,
  78,
  73,
  39,
  19,
  34,
  55,
  22,
  12,
  91,
  80,
  4,
  35,
  3,
  76,
  32,
  45,
  2,
  86,
  95,
  75,
  82,
  1,
  84,
  12,
  32,
  29,
  94,
  0,
  37,
  53,
  97,
  53,
  99,
  39,
  46,
  6,
  57,
  89,
  18,
  47,
  52,
  21,
  31,
  32,
  34,
  10,
  52,
  90,
  90,
  86,
  22,
  95,
  39,
  10,
  57,
  60,
  8,
  76,
  99,
  16,
  51,
  39,
  69,
  94,
  98,
  81,
  76,
  36,
  20,
  50,
  100,
  26,
  83,
  83,
  36,
  93,
  46,
  31,
  98,
  12,
  86,
  63,
  47,
  8,
  35,
  56,
  51,
  16,
  13,
  76,
  64,
  79,
  10,
  100,
  36,
  58],
 [85,
  3,
  64,
  56,
  52,
  67,
  61,
  58,
  61,
  94,
  67,
  81,
  9,
  26,
  6,
  68,
  72,
  96,
  72,
  74,
  95,
  29,
  74,
  66,
  69,
  64,
  74,
  12,
  67,
  78,
  5,
  31,
  34,
  65,
  59,
  61,
  72,
  17,
  32,
  7,
  11,
  4,
  9,
  84,
  56,
  64,
  56,
  87,
  92,
  14,
  21,
  19,
  73,
  51,
  18,
  53,
  27,
  69,
  66,
  20,
  70,
  83,
  20,
  78,
  21,
  33,
  84,
  64,
  63,
  4,
  55,
  17,
  86,
  23,
  86,
  39,
  61,
  5,
  60,
  17,
  15,
  21,
  36,
  21,
  62,
  3,
  84,
  23,
  19,
  0,
  63,
  82,
  35,
  63,
  95,
  75,
  73,
  43,
  87,
  50,
  95],
 [85,
  12,
  60,
  12,
  19,
  2,
  41,
  11,
  33,
  36,
  14,
  33,
  5,
  23,
  10,
  76,
  49,
  89,
  83,
  76,
  16,
  8,
  71,
  75,
  30,
  32,
  74,
  30,
  41,
  96,
  34,
  44,
  86,
  43,
  50,
  37,
  50,
  8,
  38,
  86,
  63,
  89,
  25,
  30,
  94,
  41,
  52,
  28,
  64,
  8,
  4,
  88,
  48,
  69,
  42,
  22,
  67,
  68,
  41,
  85,
  94,
  97,
  12,
  92,
  49,
  19,
  12,
  40,
  23,
  0,
  26,
  8,
  12,
  64,
  36,
  90,
  95,
  69,
  98,
  86,
  51,
  96,
  73,
  57,
  93,
  79,
  57,
  83,
  13,
  94,
  51,
  65,
  20,
  100,
  96,
  1,
  11,
  58,
  36,
  42,
  0],
 [40,
  27,
  58,
  83,
  62,
  84,
  79,
  3,
  61,
  88,
  23,
  52,
  40,
  33,
  6,
  56,
  75,
  18,
  46,
  28,
  6,
  31,
  63,
  56,
  43,
  98,
  29,
  27,
  89,
  57,
  88,
  35,
  71,
  0,
  6,
  79,
  16,
  45,
  89,
  55,
  37,
  91,
  21,
  43,
  60,
  29,
  77,
  22,
  55,
  46,
  5,
  58,
  48,
  93,
  19,
  17,
  80,
  37,
  10,
  86,
  59,
  1,
  31,
  46,
  37,
  71,
  58,
  27,
  47,
  70,
  95,
  23,
  53,
  8,
  62,
  16,
  60,
  65,
  23,
  62,
  61,
  41,
  78,
  12,
  89,
  86,
  36,
  93,
  69,
  41,
  39,
  95,
  73,
  3,
  81,
  51,
  77,
  42,
  49,
  86,
  95]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [31]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
flatten_list = [x for y in list_of_lists for x in y]
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [33]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [35]:
floats = [float (int(x)) for y in list_of_lists for x in y]
floats

[40.0,
 20.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 30.0,
 20.0,
 30.0,
 20.0,
 30.0,
 50.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [51]:
for i in ['a','b','c']:
    try:
        print (i**2)
    except TypeError:
        print('you can square letters')

you can square letters
you can square letters
you can square letters

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [38]:
x = 5
y = 0
try:
    z = x/y
except ZeroDivisionError:
    print('Its ok')

Its ok

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [39]:
abc=[10,20,20]
try:
    print(abc[3])
except IndexError:
    print('that list not have that elements')

that list not have that elements, dummy

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [43]:
option1 = input('input a number: ')
option2 = input('input another number: ')
try:
    (float (option1)/float(option2))
except ZeroDivisionError:
    print('ok')

input a number: 3
input another number: 4

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [50]:
try:
    f = open('myfile.txt')
    line = f.readline()
    i = int(line.strip())
except FileNotFoundError:
    print('you dont have such file')
except ValueError:
    print('you cant convert that into an integer')

you dont have such file

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [49]:
try:
    f = open('myfile.txt')
    line = f.readline()
    i = int(line.strip())
except FileNotFoundError:
    print('its not available')
except ValueError:
    print('you cant convert that into an integer')

its not available

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [52]:
def linux_interaction():
    try:
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    except:
        print("Can't run this on anything other  so than linux")
linux_interaction()

Doing something.


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'